<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/css/ol.css" type="text/css">
    <link rel="stylesheet" href="~/css/main.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/build/ol.js"></script>
    <script type="text/javascript" src="~/js/main.js"></script>
    <title>Ol Sample</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jspanel3/3.11.0/jquery.jspanel.min.css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspanel3/3.11.0/jquery.jspanel-compiled.min.js"></script>
</head>

<body>
    <div class="menu">
        <ul>
            <li><a onclick="AddPoint()" href="#" class="addPoint">Add Point</a></li>
            <li><a href="#">Query Point</a></li>
        </ul>
    </div>
    <div id="map" class="map"></div>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", () => {

            InitializeMap();
            AddInteraction();
        });
    </script>

</body>

</html>